<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" 
      placeholder="Seu email" 
      [class.invalid]="!loginForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
     loginForm.controls.email.touched">
      <p>Por favor entre com um email válido!</p>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input formControlName="password" type="password" 
      placeholder="Sua senha" 
      [class.invalid]="!loginForm.controls.password.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid 
    && loginForm.controls.password.touched">
      <p>A senha precisa ter mais de 6 caracteres.</p>
    </ion-item>
  
    <button ion-button block type="submit" [disabled]="!loginForm.valid">
      Entrar
    </button>
  </form>
  
  <button ion-button block clear (click)="goToSignup()">
    Cadastre-se
  </button>
  
  <button ion-button block clear (click)="goToResetPassword()">
    Esqueci minha senha 🙁
  </button>

</ion-content>
