<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img src="assets/img/banner.jpg" />
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" 
      placeholder="Your email address" 
      [class.invalid]="!signupForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  
    && signupForm.controls.email.touched">
      <p>Por favor entre com um email válido!</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" 
      placeholder="Your password" 
      [class.invalid]="!signupForm.controls.password.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" 
    *ngIf="!signupForm.controls.password.valid  && 
    signupForm.controls.password.touched">
      <p>A senha precisa ter mais de 6 caracteres.</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!signupForm.valid">
      Criar conta
    </button>
  </form>
</ion-content>
