<!--
  Generated template for the ResetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ResetPassword</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img src="assets/img/banner.jpg" />
  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" 
      placeholder="Your email address" 
      [class.invalid]="!resetPasswordForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" 
    *ngIf="!resetPasswordForm.controls.email.valid  && 
    resetPasswordForm.controls.email.touched">
      <p>Por favor, entre com um email válido.</p>
    </ion-item>

    <button ion-button block type="submit" 
    [disabled]="!resetPasswordForm.valid">
      Resetar senha!
    </button>

  </form>
</ion-content>
