<ion-header>
  <ion-navbar color="primary">
    <ion-title>Perfil</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    
    <ion-list-header>
      Informação Pessoal
    </ion-list-header>

    <ion-item (click)="updateName()">
      <ion-grid>
        <ion-row>
          <ion-col col-6> Nome </ion-col>
          <ion-col col-6 *ngIf="userProfile?.firstName || userProfile?.lastName">
            {{userProfile?.firstName}} {{userProfile?.lastName}}
          </ion-col>
          <ion-col col-6 class="placeholder-profile" 
          *ngIf="!userProfile?.firstName">
            <span> Tap here to edit. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-label class="dob-label">Data de Nascimento</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="D MMM YYYY" 
      [(ngModel)]="birthDate" (ionChange)="updateDOB(birthDate)"></ion-datetime>
    </ion-item>

    <ion-item (click)="updateEmail()">
      <ion-grid>
        <ion-row>
          <ion-col col-6> Email </ion-col>
          <ion-col col-6 *ngIf="userProfile?.email">
            {{userProfile?.email}}
          </ion-col>
          <ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.email">
            <span> Clique aqui para editar. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    
    <ion-item (click)="updatePassword()">
        <ion-grid>
          <ion-row>
            <ion-col col-6> Senha </ion-col>
            <ion-col col-6 class="placeholder-profile">
              <span> Clique aqui para editar. </span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
</ion-content>
